<div style="margin: 0 auto; padding: 0px; text-align: center">
    <div id="header">
        <span style="float: left; margin-left: 10px">Manager for me</span>
        <img ng-mouseenter="vm.avatar_show()" ng-mouseleave="vm.avatar_hidden()" style="float: right; margin-right: 10px; border-radius: 50px; height: 50px; width: 50px;" src='/resources/img/touxiang.jpg'/>
        <div id="avatar" style="position: absolute; right: 0px; top: 50px; visibility: hidden">
            <div id="bgavatar" style="width: 200px; position: absolute; height: 200px; z-index: -100"></div>
            <div style="position: relative; width: 200px; height: 200px; background: inherit; z-index: 10">
                <ul style="margin: 0px; text-align: left">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="left">
        <ul>
            <li ui-sref=".my" style="margin-top: 30px">个人简介</li>
            <li ui-sref=".bar">BarChart</li>
            <li>everyone</li>
            <li>body</li>
        </ul>
    </div>
    <div id="right">
        <ui-view></ui-view>
    </div>
</div>
