<div style="margin: 0 auto; padding: 0px; text-align: center">
    <div id="header">
        <span style="float: left; margin-left: 10px">Manager for me</span>
        <img ng-click="vm.avatar_show()" ng-mouseleave="vm.avatar_hidden()" style="float: right; margin-right: 10px; border-radius: 50px; height: 50px; width: 50px;" src='/resources/img/tupian.jpg'/>
        <div ng-mouseenter="vm.avatar_show()" ng-mouseleave="vm.avatar_hidden()" id="avatar" style="position: absolute; right: 0px; top: 50px; visibility: hidden">
            <div id="bgavatar" style="width: 200px; position: absolute; height: 200px; z-index: -100"></div>
            <div style="position: relative; width: 200px; height: 200px; background: inherit; z-index: 10">
                <ul style="margin: 0px; text-align: left">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="left">
        <ul style="position:relative;">
            <li id="id1" ui-sref=".my" style="position:relative;margin-top: 30px;" ng-mouseenter="vm.mouse_enter($event)" ng-mouseleave="vm.mouse_leave($event)">
                <div style="display:none;float:left; background-color:#ffffff; width:4px; height: 40px"></div>
                <div id="div1" style="height: 40px; position:relative;">
                    <div style="height: 40px; position:relative;" ng-click="vm.move_down()">
                        <span style="position:absolute; left:34px" >
                            个人简介    
                        </span>
                        <img style="position:absolute; top:8px; right: 20px; height: 24px" src="resources/img/you.png"/>
                    </div>
                    <ul style="background-color:#1a2f46; height: auto; opacity:0">
                        <li style="position:relative" ng-click="console.log('haha');" ng-mouseenter="vm.mouse_enter($event)" ng-mouseleave="vm.mouse_leave($event)">
                            <div style="display:none;position:absolute; top:13px; left:34px; background-color:#ffffff; width:4px; height: 16px"></div>
                            <span style="position:absolute; left:54px;">
                                1
                            </span>
                        </li>
                        <li style="position:relative" ng-mouseenter="vm.mouse_enter($event)" ng-mouseleave="vm.mouse_leave($event)">
                            <div style="display:none; position:absolute; top:13px; left:34px; background-color:#ffffff; width:4px; height: 16px"></div>
                            <span style="position:absolute; left:54px; ">
                                2
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li style="position:relative" ui-sref=".bar" ng-mouseenter="vm.mouse_enter($event)" ng-mouseleave="vm.mouse_leave($event)">
                <div style="display:none;float:left; background-color:#ffffff; width:4px; height: 40px"></div>
                <div style="height: 40px; position:relative;">
                    <span style="position:absolute; left:34px" >
                        BarChart
                    </span>
                </div>
            </li>
            <li style="position:relative" ng-mouseenter="vm.mouse_enter($event)" ng-mouseleave="vm.mouse_leave($event)"> 
                <div style="display:none;float:left; background-color:#ffffff; width:4px; height: 40px"></div>
                <div style="height: 40px; position:relative;">
                    <span style="position:absolute; left:34px" >
                        everyone
                    </span>
                </div>
            </li>
            <li style="position:relative" ng-mouseenter="vm.mouse_enter($event)" ng-mouseleave="vm.mouse_leave($event)">
                <div style="display:none;float:left; background-color:#ffffff; width:4px; height: 40px"></div>
                <div style="height: 40px; position:relative;">
                    <span style="position:absolute; left:34px" >
                            body
                    </span>
                </div>    
            </li>
        </ul>
    </div>
    <div id="right">
        <ui-view></ui-view>
    </div>
</div>
