<div id="bg" style="width: 100%; height: 100%;">
    <div id="main" style="position: relative; margin: 0px auto; width: 70%; height: 100%">
        <div id="container" style="width:100%; margin: 0px 0px; position: absolute; top: 50px">
            <span style="text-align: center; line-height: 50px; margin-top: 30px; margin-bottom: 20px; font-size: 24px; font-weight: 900; color: black; display: block">个人信息</span>
            <div style="width: 35%; height: 3px; background: green; margin-top: 30px"></div>
            <div id="my" style="width:100%; height: 100px; margin-top: 3px">
                <div style="width: 35%; height: 100%; line-height: 100px; float: left">
                    <span style="font-size: 30px; width: 100%; height: 100%;">姓名:</span>
                    <span style="width: 100%; height: 100%;">孙崇</span>
                </div>
                <div style="width: 100px; height: 100px; float: right; margin-right: 30px">
                    <img width="100px" height="100px"/>
                </div>
            </div>
            <div style="width: 35%; height: 3px; background: pink;"/>
            <div style="width: 100%; margin-top: 3px; padding: 0px 10px">
                <div style="width: 80%; margin: 0px auto">
                    <table style="width: 100%;margin: 0px 3px">
                        <tr>
                            <td style="width: 25%; font-size: 18px; text-align: left">性别:男</td>
                            <td style="width: 25%; font-size: 18px; text-align: center">手机号:18239506520</td>
                            <td style="width: 25%; font-size: 18px; text-align: right">1111</td>
                        </tr>
                    </table>
                    <!--
                    <div style="text-align: right; width: 15%;">
                        <span style="height: 100%;font-size: 25px">性别:</span>
                        <span style="height: 100%; font-size: 20px">男</span>
                    <div>-->
                </div>
            </div>
        </div>
    </div>
</div>