#header{
    height: 50px;
    width: 100%;
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 11;
    text-align: center;
    line-height: 50px;
}
#left{
    height: 100%;
    width: 200px;
    background-color: black;
    position: fixed;
    padding-top: 50px;
    z-index: 10;
}
#left ul{
    width: 200px;
    height: 100%;
    list-style: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
}
#left ul li{
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
}

#left ul li:hover{
    background: gray;
    color: lightgray;
}

#left ul li:active{
    background: lightgray;
    color: gray;
}
#right{
    margin-left: 200px;
    z-index: 9;
}